/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 4, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 6, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 10, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 17, ../scss/style.scss */
.panel {
  position: fixed;
  left: -15.625em;
  width: 15.625em;
  background: #004478;
}

/* line 24, ../scss/style.scss */
.push {
  position: relative;
}

/* line 29, ../scss/style.scss */
body {
  color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #00305b;
}

/* line 35, ../scss/style.scss */
.wrapper {
  color: #ffffff;
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  background-color: #00305b;
}

/* line 43, ../scss/style.scss */
footer.bottom {
  width: 95%;
  margin: 0 auto;
}

/* line 48, ../scss/style.scss */
.top {
  background: #ffffff;
}

/* line 52, ../scss/style.scss */
.searchicon {
  width: 5%;
  height: 5%;
  float: left;
}

/* line 58, ../scss/style.scss */
.donatebutton {
  background-color: #669933;
  color: #ffffff;
  border-style: none;
  text-decoration: none;
  float: right;
}

/* line 66, ../scss/style.scss */
.logo {
  display: inline-block;
  width: 25%;
  text-align: right;
}

/* line 72, ../scss/style.scss */
.heroimg {
  opacity: 0.4;
  background-color: #00305b;
  width: 100%;
}

/* line 78, ../scss/style.scss */
.bottom {
  background-color: #00305b;
}

/* line 82, ../scss/style.scss */
.bottom ul {
  padding: 0;
}

/* line 86, ../scss/style.scss */
.program_dropdown {
  background-color: #005ea5;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
}

/* line 93, ../scss/style.scss */
.bottom a {
  background-color: #669933;
  color: white;
  text-decoration: none;
  padding: 1%;
}

/* line 122, ../scss/style.scss */
.bottombuttons a {
  display: block;
  background-color: #669933;
  color: #ffffff;
  width: 44%;
  border-style: none;
  padding: 2.5%;
}

/* line 131, ../scss/style.scss */
.expunge {
  float: left;
}

/* line 135, ../scss/style.scss */
.prose {
  float: right;
}

/* line 141, ../scss/style.scss */
ul {
  list-style: none;
}

/* line 146, ../scss/style.scss */
nav a {
  color: #ffffff;
}

/* line 151, ../scss/style.scss */
.newsletter {
  display: block;
  width: 25%;
}

/* line 160, ../scss/style.scss */
.news a {
  color: #ffffff;
  text-decoration: none;
}
/* line 165, ../scss/style.scss */
.news div {
  background-color: #005ea5;
  width: 44%;
  padding: 2.5%;
}

/* line 172, ../scss/style.scss */
.news1 {
  float: left;
}

/* line 176, ../scss/style.scss */
.news2 {
  float: right;
}

/* line 182, ../scss/style.scss */
.bottombuttons a {
  display: block;
  background-color: #669933;
  color: #ffffff;
  width: 44%;
  border-style: none;
  padding: 2.5%;
}

/* line 191, ../scss/style.scss */
.numbers {
  display: inline-block;
  width: 100%;
  background: #002240;
  font-size: 1.4em;
}
