/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/

.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/***** SITE STYLES *************/
/**********************************/
.panel {
    position: fixed;
    left: -15.625em; //left or right and the width of your navigation panel
    width: 15.625em; //should match the above value
    background: #004478;
    z-index: 1100;
}

.push{
    position: relative;
}


body{
    color: #ffffff;
    font-family:Verdana, Geneva, sans-serif;
    background-color: #00305b;
}



.wrapper{
    color: #ffffff;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: #00305b;
}

footer.bottom{
    width: 95%;
    margin: 0 auto;
}

.top{
    background: #ffffff;
}

.searchicon{ 
    width: 5%;
    height: 5%;
    float: left;
}

.donatebutton{
    background-color:#669933;
    color: #ffffff;
    border-style: none;
    text-decoration: none;
    float: right;
}

.logo{
    display: inline-block;
    width: 30%;
    float: right;
}

.heroimg{
    opacity: 0.4;
    background-color:#00305b; 
    width: 100%;
}

.bottom{
    background-color: #00305b;
}

.bottom ul{
    padding: 0;
}

.program_dropdown{
    background-color: #005ea5;
    text-align: center;
    padding: 10px;
    margin: 10px 0;

    select{
        padding: 5%;
    }

}

.submit{
    display: block;
    padding: 5%;
    margin-top: 5%;
    width: 45%;
    margin: 0 auto;
    margin-top: 10px;
}



.bottom a{
    background-color: #669933;
    color: white;
    text-decoration: none;
}


// .expunge{
//     display: block;
//     background-color:#669933;
//     color: #ffffff;
//     width: 45%;
//     border-style: none;
//     padding: 20px;
// }

// .prose{
//     display: block;
//     background-color:#669933;
//     color: #ffffff;
//     width: 45%;
//     border-style: none;
//     padding: 20px;
// }

.bottombuttons{
}

.bottombuttons a{
    display: block;
    background-color:#669933;
    color: #ffffff;
    width: 44%;
    border-style: none;
    padding: 2.5%;
    text-align: center;
}

.expunge{
    float: left;
}

.prose{
    float: right;
}



ul{
    list-style: none;
    padding: 0;

}

li{
        list-style: none;
}

.programs ul{
    list-style: none;
}

nav{
    a{
        color: #ffffff;
    }
}

.newsletter{
    display: block;
    width: 20%;
    padding: 5%;
}

.logomenu{
    border-bottom: 2px solid grey;
    clear: both;
    padding: 2%;
}

.menu-link{

    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    background: #669933;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.searchdonate{
    padding: 2%;
}

.donatebutton{
    padding: 2%;
    margin-bottom:2%;
}

.bannerimg{
    max-width: 100%;
    width: 100%
}


//HomePage mobile
.news{

    a{
        color: #ffffff;
        text-decoration: none;
    }

    div{
        background-color: #005ea5;
        width: 44%;
        padding: 2.5%;
    }
}

.news1{
    float: left;
}

.news2{
    float: right;
}


.numbers{
    background: #002240;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 5%;
    padding: 5%;

    em{
        font-size: 3em;
        display: block;
        line-height: 1.2
    }
}

.content{
    line-height: 1.5em;
}


/*Fathers and families mobile*/

.resources{
     a{
        color: blue;
        display: block;
    }
    background-color:#b2b2b2;
    color: #000000;
    overflow: hidden;
    padding: 5%;
    li{
        padding: 1%;
    }
}



.visitation a{
    color: white;
}

/*Programs mobile*/

a{
    color: white;
}

/*Donate Mobile*/
.behalf{
    display: none;
}

.formdivs{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    margin: 0 auto;
}

.submitbutton{
    background-color: #669933;
    color: white;
    text-decoration: none;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    width: 45%;
}

@media screen and (min-width: 660px){
    .contact{
        display: inline-block;
        vertical-align: top;
        width: 30%;
    }
    .links{
        display: inline-block;
        vertical-align: top;
    }
    .social{
        display: inline-block;
        vertical-align: top;
    }
    .newsletter{
        display: inline-block;
        vertical-align: top;
        margin: 5%;
    }
    .copy{
        width: 100%;
        text-align: center;
    }


    //homepage tablet
    .content{
        width: 44%;
        display: inline-block;
        vertical-align: top;
    }

    .numbers{
        width: 44%;
        display: inline-block;
        vertical-align: top;
    }

    //programs tablet
    .support{
        background-color:#00427e;
        width: 45%;
        display: inline-block;
        vertical-align: top;
        padding: 2%;
    }

    .visitation{
        background-color:#005ea5;
        width: 45%;
        display: inline-block;
        vertical-align: top;
        padding: 2%;
    }

    .resources{
        margin-top:2%; 
    }

    //donate tablet


}

@media screen and (min-width: 1000px){
    //homepage desktop
    .content{
        width: 100%;
    }

    .numbers{
        width: 44%;
        float: left;
        margin-bottom: 0;
    }
    .news{
        width: 44%;
        float: right;
    }



}

    


